


/* попап основное */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active {
    z-index: 100;
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 540px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

/* Конец попап основого */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.chart-container{
    width: 500px;
    margin: 20px auto;
}
.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #b4a5a3;
    margin-bottom: 5px;
}

.popup input {
    height: 25px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #b4a5a3;
}

.about_trip {
    height: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #b4a5a3;
}

.car-img{
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popup input:focus {
    border-bottom: 1px solid rgb(193 107 44);
}

.popup input:focus+.label__text {
    color: rgb(193 107 44);
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #b4a5a3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid rgb(193 107 44);
}

.popup textarea:focus+.label__text {
    color: rgb(193 107 44);
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid rgb(193 107 44);
    background: rgb(193 107 44);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color: rgb(193 107 44);
    transition: 0.5s all;
}

.popup input .dur-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



dur-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.popup input .dur-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.order-table {
    display: flex;
    justify-content: center;
}

.order-table td {
    text-align: center;
    padding-right: 20px;

}

.order-table td a{
    text-decoration: none;
    color: rgb(193 107 44);

}

.get-form{
    display: flex;
    justify-content: center;
}

.get-form div{
    margin-left: 10px;
}

.car-pics{
    width: 150px;
}