html, body, #root, #wrapper, .uwa-capture {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
}

.right-block {
  flex: 1;
  position: static;
  border-radius: 12px;
}

.left-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: auto;
  flex: 1;
  overflow-y: auto;
  position: static;
  z-index: unset;
  padding-right: 5%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .left-block {
    padding-right: 0;
  }
  
  .right-block {
    display: none;
  }
}